<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">All User</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">All User</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%"
          cellspacing="0">
          <thead>
            <tr>
              <th>User Name</th>
              <th>Full Name</th>
              <th>Phone</th>
              <th>Address</th>
              <th>Number of Product</th>
              <th>Number of Acution</th>
              <!-- <th>accept/not accept</th> -->
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>User Name</th>
              <th>Full Name</th>
              <th>Phone</th>
              <th>Address</th>
              <th>Number of Product</th>
              <th>Number of Acution</th>
              <!-- <th>product accept/not accept</th> -->
            </tr>
          </tfoot>
          <tbody>

            <!-- address:"17 ngách 152 ngõ 141 giáp nhị"
            auth:0
            full_name:"quang hiếu 3"
            num_of_aucution:0
            num_of_product:2
            password:"123456"
            phone:"0869175144"
            user_id:11
            username:"user3" -->
            <% for (var i = 0; i<listUser.length; i++){%>
            <tr>
              <td><%=listUser[i].username%></td>
              <td><%=listUser[i].full_name%></td>
              <td><%=listUser[i].phone%></td>
              <td><%=listUser[i].address%></td>
              <td><%=listUser[i].num_of_product%></td>
              <td><%=listUser[i].num_of_aucution%></td>
            </tr>
            <%}%>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
  
          </div>