<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Admin</title>

  <!-- Custom fonts for this template -->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
    type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">
  <!-- nhom6 css -->
  <link href="/css/nhom6-css.css" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="/vendor/datatables/dataTables.bootstrap4.min.css"
    rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <%- include('left-admin')%>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <%- include('header-admin')%>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <%if(type=='profile'){%>
        <%- include('profile')%>
        <%} else if(type=='productAccept'){ %>
        <%- include('listProduct')%>
        <%} else if(type=='productNoAccept'){%>
        <%- include('listProduct')%>
        <%} else if(type=='allUser'){%>
        <%- include('allUser')%>
        <%}%>
        <!-- /End Page Content  -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <%- include('footer')%>
        <!-- End of Footer -->

      </div>
      <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- <script src="/js/lib/jquery.js"></script> -->
    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/datatables-demo.js"></script>
    <!-- Page level plugins -->
    <script src="/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/chart-area-demo.js"></script>
    <script src="/js/demo/chart-pie-demo.js"></script>


    <script>
      $(document).ready(() => {


        var serverTime = null
        $.ajax({
          url: "/servertime",
          type: 'GET',
          success: function (res) {
            if (res) {
              if (res.error) {
                alert(error)
              }
              else {
                serverTime = res.serverTime
                console.log(serverTime);

              }
            }
          },
          error: function (e) {
            console.log(e.message);
          }
        });
        setInterval(() => {
          let nowTime = new Date(serverTime)
          let lunch = nowTime.getHours() > 12 ? "PM" : "AM"
          $('#curent_time').text("Time Server: " + nowTime.getHours() + ":" +
            nowTime.getMinutes() + ":" + nowTime.getSeconds() + " " + lunch)
          serverTime += 1000
        }, 1000)
      })

      adminAction = (pID, uID, action) => {
        $("#product-id-" + pID).hide()
        $.ajax({
          url: "/admin/product/action/" + pID,
          type: 'POST',
          data: {
            user_id: uID,
            action: action
          },
          success: function (res) {
            if (res) {
              if (res.error) {
                alert(res.error)
              }
              else {
                console.log(res);
              }
            }
          },
          error: function (e) {
            console.log(e.message);
          }
        });

      }
    </script>
</body>

</html>