<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800"><%=message%> <%=is_accept%></h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"></h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%"
                    cellspacing="0">
                    <thead>
                        <tr>
                            <th>User Full Name</th>
                            <th>Product Name</th>
                            <th>Image</th>
                            <th>Category</th>
                            <th>Pricce</th>
                            <th>Introduction</th>
                            <th>Time upload</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>User Full Name</th>
                            <th>Product Name</th>
                            <th>Image</th>
                            <th>Category</th>
                            <th>Pricce</th>
                            <th>Introduction</th>
                            <th>Time upload</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>

                        <!-- address:"17 ngách 152 ngõ 141 giáp nhị,0869175144"
                        category_id:1
                        category_name:"cate 1"
                        image1:"ch.jpg"
                        image2:"ch1.jpg"
                        image3:"ch2.jpg"
                        information:"dây truyền"
                        is_ok:1
                        phone:"undefined"
                        price:10000
                        product_id:8
                        product_name:"dây chuyền"
                        time_up:1500000000
                        user_full_name:"quang hiếu"
                        user_id:8 -->
                        <% for (var i = 0; i<listProduct.length; i++){%>
                        <% let time_up = new Date(serverTime - listProduct[i].time_up) %>
                        <% let time_show = null %>
                        <% if(time_up.getDay()>=3){%>
                        <%time_show =`${time_up.getDay()} days before`%>
                        <%}else if(time_up.getDay()>1){%>
                        <%time_show = `${time_up.getDay()}d ${time_up.getHours()}h befores`%>
                        <%}else time_show = `0d ${time_up.getHours()}h ${time_up.getMinutes()}m befores`%>
                        <tr id="product-id-<%=listProduct[i].product_id%>">
                            <td><%=listProduct[i].user_full_name%></td>
                            <td><%=listProduct[i].product_name%></td>
                            <td><img src="/images/<%=listProduct[i].image1%>"
                                    height="80px" /></td>
                            <td><%=listProduct[i].category_name%></td>
                            <td><%=listProduct[i].price%></td>
                            <td><%=listProduct[i].information%></td>
                            <td><%= time_show%></td>
                            <td class="admin-action">
                                <button type="button" class="btn btn-danger"
                                    id="btn-delete-product"
                                    onclick="adminAction(<%=listProduct[i].product_id%>, <%=listProduct[i].user_id%>, 'delete')">Delete</button>
                                <%if(is_accept==1){%>
                                <button type="button" class="btn btn-warning"
                                    id="btn-accept-product"
                                    onclick="adminAction(<%=listProduct[i].product_id%>, <%=listProduct[i].user_id%>, 'decline')">Decline</button>
                                <%}else{%>
                                <button type="button" class="btn btn-primary"
                                    id="btn-accept-product"
                                    onclick="adminAction(<%=listProduct[i].product_id%>, <%=listProduct[i].user_id%>, 'accept')">Accept</button>
                                <%}%>
                            </td>
                        </tr>
                        <%}%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>