<div class="sub-cate">
    <div class=" top-nav rsidebar span_1_of_left">
        <a href="/aucution">
            <h3 class="cate">ALL AUCUTION</h3>
        </a>
        <ul class="menu">
            <!-- <li class="item1"><a href="#">Curabitur sapien<img
						class="arrow-img" src="images/arrow1.png"
						alt="" /> </a>
				<ul class="cute">
					<li class="subitem1"><a href="product.html">Cute
							Kittens </a></li>
					<li class="subitem2"><a href="product.html">Strange
							Stuff </a></li>
					<li class="subitem3"><a
							href="product.html">Automatic Fails </a>
					</li>
				</ul>
			</li> -->
            <ul class="kid-menu ">
                <% category.forEach ( function(cate){ %>
                <li class="item<%= cate.category_id%>">
                    <a href="/aucution/category/<%= cate.category_id%>"
                        <% if(aucution_selected_category_id == cate.category_id) {%> style="color: red;" <%}%>
					>
						<%= cate.category_name.toUpperCase()%> </a>
                </li>
                <%})%>
                <!-- <li class="menu-kid-left"><a href="/chatbox">Chatbox</a></li> -->
                <form action="/aucution/search" method="post">
					<table>
						<tr>
							<th>
								Min Price
							</th>
							<td>
								<input type="text" name="minPrice" value=""
									onfocus="this.value = '';"
									onblur="if (this.value == '') {this.value = '';}"
									placeholder="<%=minPrice%>">

							</td>
						</tr>
						<tr>
							<th>
								Max Price
							</th>
							<td>
								<input type="text" name="maxPrice" value=""
									onfocus="this.value = '';"
									onblur="if (this.value == '') {this.value = '';}"
									placeholder="<%=maxPrice%>">
							</td>
						</tr>
						<tr>
							<th>
								Search
							</th>
							<td>
								<input type="text" value=""
									onfocus="this.value = '';"
									onblur="if (this.value == '') {this.value = '';}"
									placeholder="search">

							</td>
						</tr>
					</table>
					<div class="text-center">
						<input type="submit" value="SEARCH">
					</div>
				</form>
            </ul>

        </ul>
    </div>
    <!--initiate accordion-->
    <script type="text/javascript">
        $(function () {
            var menu_ul = $('.menu > li > ul'),
                menu_a = $('.menu > li > a');
            menu_ul.hide();
            menu_a.click(function (e) {
                e.preventDefault();
                if (!$(this).hasClass('active')) {
                    menu_a.removeClass('active');
                    menu_ul.filter(':visible').slideUp('normal');
                    $(this).addClass('active').next().stop(true, true).slideDown('normal');
                } else {
                    $(this).removeClass('active');
                    $(this).next().stop(true, true).slideUp('normal');
                }
            });

        });
    </script>
	<% if(result && result.length){%>
	<div class=" chain-grid menu-chain">
		<a href="/single/<%=result[0].product_id%>"><img
				class="img-responsive chain"
				src="/images/<%=result[0].image1%>" alt=" " /></a>
		<div class="grid-chain-bottom chain-watch">
			<span class="actual dolor-left-grid"><%=result[0].price%> VND</span>
			<span class="reducedfrom"><%=result[0].price * 1.2%> VND</span>
			<h6><%=result[0].product_name %></h6>
		</div>
	</div>
	<%}%>
	<a class="view-all all-product" href="/">BACK TO HOME<span> </span></a>
</div>