<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<head>
	<title>NHOM_06 DAU GIA</title>
	<link href="/css/bootstrap.css" rel="stylesheet" type="text/css"
		media="all" />
	<!--theme-style-->
	<link href="/css/style.css" rel="stylesheet" type="text/css"
		media="all" />
	<!--//theme-style-->
	<meta name="viewport"
		content="width=device-width, initial-scale=1, maximum-scale=1">
	<script
		type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!--fonts-->
	<link
		href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800'
		rel='stylesheet' type='text/css'>
	<!--//fonts-->
	<script src="/js/jquery.min.js"></script>
	<!--script-->
</head>

<body>
	<%- include('header') %>

	<div class="container">
		<div class="shoes-grid">
			<a href="single">
				<div class="wrap-in">
					<div class="wmuSlider example1 slide-grid">
			</a>
			<script src="/js/jquery.wmuSlider.js"></script>
			<script>
				$('.example1').wmuSlider();
				$(window).scroll(
					() => {
						var scrollTop = $(window).scrollTop();
						if (scrollTop > 300 && scrollTop<1500)
							$(".sub-cate").css("margin-top", scrollTop - 140).css("transition", "2s");
						else $(".sub-cate").css("margin-top", "2.1rem");
					}
				)

			</script>
		</div>
	</div>
	</a>



	<%- include('card-aucution')%>
	<div class="clearfix"> </div>
	</div>
	<%- include('au_category') %>
	<div class="clearfix"> </div>
	</div>
	<!-- có cũng đc ; bị thừa</div> -->
	<!---->
	<%- include('footer') %>

</body>

</html>