<!-- address:"17 ngách 152 ngõ 141 giáp nhị,0869175144"
aucution_name:"aucution 2"
aucutionn_id:2
category_id:2
category_name:"cate 2"
image1:"dasd"
image2:"das"
image3:"das"
information:"dasd"
is_ok:1
phone:"undefined"
price_max:"123455"
time_down:1591699897654
time_up:150000000
user_full_name:"quang hiếu" -->



<div class="shoes-grid-left">
    <div class="row">
        <% result.forEach(p => { %>
        <a href="/singleaucution/<%=p.product_id%>"
            id="aproduct-<%=p.product_id%>">
            <div class="col-md-4 tab-products"
                id="divproduct-<%=p.product_id%>">
                <a href="/singleaucution/<%=p.product_id%>">
                    <img class="img-responsive chain"
                        src="/images/<%=p.image1%>"
                        alt="<%=p.aucution_name%>" />
                </a>
                <span class="star"> </span>
                <div class="grid-chain-bottom">
                    <h6>
                        <a href="/singleaucution/<%=p.product_id%>">
                            <%=p.aucution_name%>
                        </a>
                    </h6>
                    <div class="star-price">
                        <div class="dolor-grid">
                            <span class="actual">Now: <%=p.price_max%> VND</span>
                            </br>
                            </br>
                            <span class=""><strong>User:</strong>
                                <%=p.user_full_name%>
                            </span>
                            </br>
                            <span class=""><strong>Address:</strong>
                                <%=p.address%> </span>
                            </br>
                            <% var time_up = new Date(serverTime - p.time_up);%>
                            <% var h = time_up.getHours() - 8%>
                            <% var m = time_up.getMinutes()%>
                            <span class=""
                                id=<%=p.product_id%>><strong>Upload</strong>
                                <%=h>0?h+"h":null%><%= m+"m before"%></span>
                            <br>
                            <span class="" id='aucution-<%=p.aucutionn_id%>'>

                            </span><br>
                        </div>
                        <%if(user && p.user_id == user.user_id){%>
                        <button class="now-get get-cart btn btn-danger"
                            id="deleteProductBtn"
                            onclick="deleteProduct(<%=p.product_id%>)">
                            Delete
                        </button>
                        <%}%>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        </a>
        <%})%>
                    </div>
                    <script>
                        $(document).ready(() => {
                                    <% result.forEach(p => { %>
                            countdown(<%=serverTime %>, <%=p.time_down %>, <%=p.aucutionn_id %>)
                            <%}) %>
                        })
                        function countdown(serverTime, time_down, id) {
                            console.log("serverTime: "+serverTime, "time_down:"+time_down);
                                let re = time_down - serverTime
                            setInterval(function () {
                                let nowTime = new Date(re)
                                if (re > 0) {
                                    $("#aucution-" + id).html("<strong>Time:</strong> " + nowTime.getDay() + "d " + nowTime.getHours() + "h " + nowTime.getMinutes() + "m " + nowTime.getSeconds() + "s")
                                }
                                else $("#aucution-" + id).html("<strong>TIME OUT!</strong>")
                                re -= 1000
                            }, 1000);
                        }

                        function deleteProduct(pID) {
                            $.ajax({
                                url: "/users/product/delete/" + pID,
                                type: 'POST',
                                success: function (res) {
                                    if (res) {
                                        console.log("delete product, id: " + pID, res);
                                        if (res.error) {
                                            alert(error)
                                        }
                                        else {
                                            alert("DELETE OK")
                                            $("#aproduct-" + pID).hide()
                                            $("#divproduct-" + pID).hide()
                                        }
                                    }
                                },
                                error: function (e) {
                                    alert("DELETE OK")
                                    $("#aproduct-" + pID).hide()
                                    $("#divproduct-" + pID).hide()
                                    console.log("error: ", e);
                                }
                            });
                        }
                    </script>
                </div>