<div class="shoes-grid-left">
    <div class="row">
        <% result.forEach(p => { %>
        <a href="/single/<%=p.product_id%>" id="aproduct-<%=p.product_id%>">
            <div class="col-md-4 tab-products"
                id="divproduct-<%=p.product_id%>">
                <a href="/single/<%=p.product_id%>">
                    <img class="img-responsive chain"
                        src="/images/<%=p.image1%>"
                        alt="<%=p.product_name%>" />
                </a>
                <span class="star"> </span>
                <div class="grid-chain-bottom">
                    <h6>
                        <a href="/single/<%=p.product_id%>">
                            <%=p.product_name%>
                        </a>
                    </h6>
                    <div class="star-price">
                        <div class="dolor-grid">
                            <span class="actual"><%=p.price%> VND</span>
                            </br>
                            <span
                                class="reducedfrom"><%=parseInt(p.price*1.1)%>
                                VND</span>
                            </br>
                            <span class="">User: <%=p.user_full_name%>
                            </span>
                            </br>
                            <span class="">Address: <%=p.address%> </span>
                            </br>
                            <% var time_up = new Date(serverTime - p.time_up);%>
                            <% var h = time_up.getHours() - 8%>
                            <% var m = time_up.getMinutes()%>
                            <span class="" id=<%=p.product_id%>>Upload
                                <%=h>0?h+"h":null%><%= m+"m before"%></span>
                        </div>
                        <%if(user && p.user_id == user.user_id){%>
                        <button class="now-get get-cart btn btn-danger" id="deleteProductBtn"
                            onclick="deleteProduct(<%=p.product_id%>)">
                            Delete
                        </button>
                        <%}%>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        </a>
        <%})%>
                    </div>
                    <script>
                        function deleteProduct(pID) {
                            $.ajax({
                                url: "/users/product/delete/" + pID,
                                type: 'POST',
                                success: function (res) {
                                    if (res) {
                                        console.log("delete product, id: " + pID, res);
                                        if (res.error) {
                                            alert(error)
                                        }
                                        else {
                                            alert("DELETE OK")
                                            $("#aproduct-" + pID).hide()
                                            $("#divproduct-" + pID).hide()
                                        }
                                    }
                                },
                                error: function (e) {
                                    alert("DELETE OK")
                                    $("#aproduct-" + pID).hide()
                                    $("#divproduct-" + pID).hide()
                                    console.log("error: ", e);
                                }
                            });
                        }
                    </script>
                </div>