<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<head>
	<title>NHOM_06 DAU GIA</title>
	<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<!--theme-style-->
	<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!--//theme-style-->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<script
		type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!--fonts-->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
	<!--//fonts-->
	<script src="/js/jquery.min.js"></script>
	<!--script-->
</head>

<body>

	<%- include('header') %>
<% if(result && result.length){%>
	<div class="container">
		<div class="shoes-grid">
			<a href="/product/<%=result[0].product_id%>">
				<div class="wrap-in">
					<div class="wmuSlider example1 slide-grid">
			</a>
			<ul class="wmuSliderPagination">
				<li><a href="#" class="">0</a></li>
				<li><a href="#" class="">1</a></li>
				<li><a href="#" class="">2</a></li>
			</ul>
			<script src="js/jquery.wmuSlider.js"></script>
			<script>
				$('.example1').wmuSlider();         
			</script>
		</div>
	</div>
	</a>
	<%}%>
	<!---->

	<!-- address:"phú xuyên ha nội"
			product:[{ category_id:1
				category_name:"người yêu"
				image1:"10.jpg"
				image2:"11.jpg"
				image3:"12.jpg"
				information:"bạn gái tương lai"
				phone:"0869175144"
				price:500000
				product_id:6
				product_name:"my wife"
				time_up:1589079112362
				user_full_name:"đỗ quang hiếu 0869175144"
				user_id:2
				username:"admin"}, 
				{..}
				] -->

	<%- include('card-product')%>
	<div class="clearfix"> </div>
	</div>
	<%- include('category') %>
	<div class="clearfix"> </div>
	</div>

	<!---->
	<%- include('footer') %>
</body>

</html>