<div class="footer">
	<div class="footer-top">
		<div class="container">
			<div class="latter">
				<h6>NEWS-LETTER</h6>
				<div class="sub-left-right">
					<form>
						<input type="text" value="Enter email here" onfocus="this.value = '';"
							onblur="if (this.value == '') {this.value = 'Enter email here';}" />
						<input type="submit" value="SUBSCRIBE" />
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="latter-right">
				<p>FOLLOW US</p>
				<ul class="face-in-to">
					<li><a href="#"><span> </span></a></li>
					<li><a href="#"><span class="facebook-in"> </span></a></li>
					<div class="clearfix"> </div>
				</ul>
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="footer-bottom-cate">
				<h6>Đỗ Quang Hiếu</h6>
				<ul>
					<li>
						<a href="#">
							<span class=" glyphicon glyphicon-user"></span>MSSV: 20173108
						</a>
					</li>
					<li>
						<a href="#">
							<span class="glyphicon glyphicon-envelope"></span>Email: hieu.dq173108@sis.hust.edu.vn
						</a>
					</li>
					<li><a href="#">
							<span class="glyphicon glyphicon-earphone"></span>Phone: 0869175144</a>
					</li>
				</ul>
			</div>
			<div class="footer-bottom-cate bottom-grid-cat">
				<h6>Vũ Ngọc Hiển</h6>
				<ul>
					<li><a href="#">MSSV: </a></li>
					<li><a href="#">Email: </a></li>
					<li><a href="#">Phone:</a></li>
				</ul>
			</div>
			<div class="footer-bottom-cate">
				<h6>Trịnh Hoàng Hiệp</h6>
				<ul>
					<li><a href="#">MSSV: </a></li>
					<li><a href="#">Email: </a></li>
					<li><a href="#">Phone: </a></li>
				</ul>
			</div>
			<div class="footer-bottom-cate cate-bottom">
				<h6>OUR ADDERSS</h6>
				<ul>
					<li>Aliquam metus dui. </li>
					<li>orci, ornareidquet</li>
					<li> ut,DUI.</li>
					<li>nisi, dignissim</li>
					<li>gravida at.</li>
					<li class="phone">PH : 6985792466</li>
					<li class="temp">
						<p class="footer-class">Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a>
						</p>
					</li>
				</ul>
			</div>
			<div class="clearfix"> </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
		</div>
	</div>
</div>