<div class="header">
    <div class="top-header">
        <div class="container">
            <div class="top-header-left">
                <ul class="support">
                    <li><a href="#"><label> </label></a></li>
                    <li><a href="#">24x7 live<span class="live">
                                support</span></a></li>
                </ul>
                <ul class="support">
                    <li class="van"><a href="#"><label> </label></a></li>
                    <li><a href="#">Free shipping <span class="live">on order
                                over 500</span></a></li>
                </ul>
                <div class="clearfix"> </div>
            </div>
            <div class="top-header-right">
                <div class="down-top">
                    <select class="in-drop">
                        <option value="English" class="in-of">Tiếng Việt
                        </option>
                        <!-- <option value="Japanese" class="in-of">Japanese</option>
                        <option value="French" class="in-of">French</option>
                        <option value="German" class="in-of">German</option> -->
                    </select>
                </div>
                <% if(user&&parseInt(user.auth)){%>
                <div class="down-top top-down"><a class="in-of"
                        href="/admin">Admin</a>
                </div>
                <%}%>
                <div class="down-top top-down in-of" id="curent_time">...
                </div>
                <script>
                    $(document).ready(function () {
                        var serverTime = null
                        $.ajax({
                            url: "/servertime",
                            type: 'GET',
                            success: function (res) {
                                if (res) {
                                    if (res.error) {
                                        alert(error)
                                    }
                                    else {
                                        serverTime = res.serverTime
                                    }
                                }
                            },
                            error: function (e) {
                                console.log(e.message);
                            }
                        });
                        setInterval(() => {
                            let nowTime = new Date(serverTime)
                            let lunch = nowTime.getHours() > 12 ? "PM" : "AM"
                            $('#curent_time').text("time Server: " + nowTime.getHours() + ":" + nowTime.getMinutes() + ":" + nowTime.getSeconds() + " " + lunch)
                            serverTime += 1000
                        }, 1000)
                    });
                </script>
                <!---->
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="bottom-header">
        <div class="container">
            <div class="header-bottom-left">
                <div class="logo">
                    <a href="/"><img src="/images/logo.png" alt=" " /></a>
                </div>

                <div class="search">
                    <input type="text" value="" onfocus="this.value = '';"
                        onblur="if (this.value == '') {this.value = '';}">
                    <input type="submit" value="SEARCH">
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="header-bottom-right">
                <% if(user==null) {%>
                <ul class="login">
                    <li><a href="/login"><span> </span>LOGIN</a></li> |
                    <li><a href="/register">SIGNUP</a></li>
                </ul>
                <% } else {%>


                <div class="account"><a href=<%="/users/"+user.user_id%>><span>
                        </span> ACCOUNT |</a></div>
                <div class="cart"><a href="/aucution"><span> </span> AUCUTION
                        |</a></div>
                <div><a href="/logout" class=" glyphicon glyphicon-off">
                        LOGOUT</a></div>
                <%}%>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(() => {
    <%if (user) {%>
            localStorage.setItem("username", "<%=user.username %>")
            localStorage.setItem("password", "<%=user.password %>")
    <%}%>
    })

</script>
<!---->