<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<head>
	<title>NHOM_06 DAU GIA</title>
	<link href="/css/bootstrap.css" rel="stylesheet" type="text/css"
		media="all" />
	<!--theme-style-->
	<link href="/css/style.css" rel="stylesheet" type="text/css"
		media="all" />
	<!--//theme-style-->
	<meta name="viewport"
		content="width=device-width, initial-scale=1, maximum-scale=1">
	<script
		type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!--fonts-->
	<link
		href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800'
		rel='stylesheet' type='text/css'>
	<!--//fonts-->
	<script src="/js/jquery.min.js"></script>
	<!--script-->
</head>

<body>
	<%- include('header') %>

	<div class="container">
		<div class="shoes-grid">
			<% if(result && result.length){%>
			<a href="/single/<%=result[0].product_id%>">
				<div class="wrap-in">
					<div class="wmuSlider example1 slide-grid">
						<div class="wmuSliderWrapper">
							<article
								style="position: absolute; width: 100%; opacity: 0;">
								<div class="banner-matter">
									<div class="col-md-5 banner-bag">
										<img class="img-responsive "
											src="/images/<%=result[0].image1%>"
											alt=" " />
									</div>
									<div class="col-md-7 banner-off">
										<h2>FLAT 50% 0FF</h2>
										<label>FOR ALL PURCHASE
											<b>VALUE</b></label>
										<p>Lorem ipsum dolor sit amet,
											consectetur adipisicing elit, sed do
											eiusmod tempor incididunt ut labore
											et </p>
										<span class="on-get">GET NOW</span>
									</div>

									<div class="clearfix"> </div>
								</div>

							</article>
							<article
								style="position: absolute; width: 100%; opacity: 0;">
								<div class="banner-matter">
									<div class="col-md-5 banner-bag">
										<img class="img-responsive "
											src="/images/<%=result[0].image2%>"
											alt=" " />
									</div>
									<div class="col-md-7 banner-off">
										<h2>FLAT 50% 0FF</h2>
										<label>FOR ALL PURCHASE
											<b>VALUE</b></label>
										<p>Lorem ipsum dolor sit amet,
											consectetur adipisicing elit, sed do
											eiusmod tempor incididunt ut labore
											et </p>
										<span class="on-get">GET NOW</span>
									</div>

									<div class="clearfix"> </div>
								</div>

							</article>
							<article
								style="position: absolute; width: 100%; opacity: 0;">
								<div class="banner-matter">
									<div class="col-md-5 banner-bag">
										<img class="img-responsive "
											src="/images/<%=result[0].image3%>"
											alt=" " />
									</div>
									<div class="col-md-7 banner-off">
										<h2>FLAT 50% 0FF</h2>
										<label>FOR ALL PURCHASE
											<b>VALUE</b></label>
										<p>Lorem ipsum dolor sit amet,
											consectetur adipisicing elit, sed do
											eiusmod tempor incididunt ut labore
											et </p>
										<span class="on-get">GET NOW</span>
									</div>

									<div class="clearfix"> </div>
								</div>

							</article>

						</div>
			</a>
			<%}%>

			<!-- Scroll to Top Button-->
			<a class="scroll-to-top rounded" href="#page-top">
				<i class="fas fa-angle-up"></i>
			</a>
			<!-- //Scroll to Top Button-->

			<script src="/js/jquery.wmuSlider.js"></script>
			<script>
				$('.example1').wmuSlider();         
			</script>
		</div>
	</div>
	</a>


	<!-- address:"phú xuyên ha nội"
category_id:2
category_name:"cate2"
image1:"pic1.jpg"
image2:"pic2.jpg"
image3:"pic3.jpg"
information:"abcxyz"
is_ok:1
phone:"0869175144"
price:2132132
product_id:1
product_name:"sanpham1"
time_up:1589041949048
user_full_name:"đỗ quang hiếu 0869175144"
user_id:2
username:"admin" -->
	<!---->
	<%- include('card-product')%>
			<div class="clearfix"> </div>
		<%- include('category') %>
		<div class="clearfix">
		</div>
	<!-- có cũng đc ; bị thừa</div> -->
	<!---->
	<%- include('footer') %>
	<script>

		$(window).scroll(
			() => {
				var scrollTop = $(window).scrollTop();
				if (scrollTop > 300)
					$(".sub-cate").css("margin-top", scrollTop - 140).css("transition", "2s");
				else $(".sub-cate").css("margin-top", "2rem");
			}
		)

	</script>
</body>

</html>