<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<head>
	<title>Nhom 6 dau gia</title>
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css"
		media="all" />
	<!--theme-style-->
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!--//theme-style-->
	<meta name="viewport"
		content="width=device-width, initial-scale=1, maximum-scale=1">
	<script
		type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!--fonts-->
	<!-- web fonts -->
	<link href='//fonts.googleapis.com/css?family=Glegoo:400,700'
		rel='stylesheet' type='text/css'>
	<link
		href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
		rel='stylesheet' type='text/css'>
	<link
		href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800'
		rel='stylesheet' type='text/css'>
	<!--//fonts-->
	<script src="js/jquery.min.js"></script>
</head>

<body>

	<%- include('header') %>

	<div class="container">
		<div class="account_grid">
			<div class=" login-right">
				<h3><%=message%></h3>
				<p>If you have an account with us, please log in.</p>
				<form method="post" action="/login">
					<div>
						<span>Username<label>*</label></span>
						<input type="text" placeholder="Username"
							name="username" required>
					</div>
					<div>
						<span>Password<label>*</label></span>
						<input type="password" placeholder="Password"
							name="password" required>
					</div>
					<a class="forgot" href="#">Forgot Your Password?</a>
					<input type="submit" value="Login">
				</form>
			</div>
			<div class=" login-left">
				<h3>NEW CUSTOMERS</h3>
				<p>By creating an account with our store, you will be able to
					move through the checkout process faster, store multiple
					shipping addresses, view and track your orders in your
					account and more.</p>
				<a class="acount-btn" href="/register">Create an Account</a>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="clearfix"> </div>
	</div>
	<!---->
	<%- include('footer') %>
</body>
<script>
	$(document).ready(() => {

		if (localStorage.getItem("username") != null && localStorage.getItem("username")) {
			$.ajax({
				url: "/login",
				type: 'POST',
				data:{
					username: localStorage.getItem("username"),
					password: localStorage.getItem("password")
				},
				success: function (res) {
					if (res) {
							console.log("Login width local OK");
							window.location=window.location
					}
				},
				error: function (e) {
					console.log(e.message);
				}
			});
		}
	})
</script>

</html>