<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<head>
	<title>Register</title>
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css"
		media="all" />
	<!--theme-style-->
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!--//theme-style-->
	<meta name="viewport"
		content="width=device-width, initial-scale=1, maximum-scale=1">
	<script
		type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!--fonts-->
	<!-- web fonts -->
	<link href='//fonts.googleapis.com/css?family=Glegoo:400,700'
		rel='stylesheet' type='text/css'>
	<link
		href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
		rel='stylesheet' type='text/css'>
	<link
		href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800'
		rel='stylesheet' type='text/css'>
	<!--//fonts-->
	<script src="js/jquery.min.js"></script>


</head>

<body>
	<!--header-->
	<%- include('header') %>
	<!---->
	<div class="container">

		<div class="account_grid">
			<form method="post" action="/register">
				<div class="  register-top-grid">
					<h3><%= message%></h3>
					<div class="mation">
						<span>Full Name<label>*</label></span>
						<input
							placeholder="Full name"
							id="fullName"
							name="fullName"
							type="text"
							required="">

						<span>Address<label>*</label></span>
						<input
							placeholder="Confirm Address"
							name="address"
							type="text"
							required="">

						<span>Phone Number<label>*</label></span>
						<input
							placeholder="Confirm Address"
							name="phone"
							type="text"
							required="">
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="  register-bottom-grid">
					<h3>LOGIN INFORMATION</h3>
					<i id="myMessage"></i>
					<div class="mation">

						<span>Username<label>*</label></span>
						<input name="username"
							placeholder="Username"
							type="text" required="">

						<span>Password<label>*</label></span><input
							id="sign-up-password"
							placeholder="Password"
							name="password"
							type="password"
							required="">
						<span>Confirm Password<label>*</label></span>
						<input
							id="rePassword"
							placeholder="Confirm Password"
							name="rePassword"
							type="password"
							required="">
					</div>
				</div>
				<script type="text/javascript">
					$(document).ready(function () {
						$('input').css({ margin: "3px" })
						$("#sign-up-password").keyup(() => {
							if ($("#rePassword").val() != $("#sign-up-password").val()) {
								$('#myMessage').text("Repeat password wrong!")
								console.log($('#myMessage').text())
								$('#myMessage').css({ color: "red" })
								$('#rePassword').css({ outlineColor: "red", borderColor:"red" })
							}
							else {
								$('#myMessage').text("Repeat password OK!").css({ color: "green" })
								$('#rePassword').css({ outlineColor: "green", borderColor:"rgba(255, 255, 255, 0)" })
							}
						})
						$("#rePassword").keyup(() => {
							if ($("#rePassword").val() != $("#sign-up-password").val()) {
								$('#myMessage').text("Repeat password wrong!")
								$('#myMessage').css({ color: "red" })
								$('#rePassword').css({ outlineColor: "red", borderColor:"red" })
							}
							else {
								$('#myMessage').text("Repeat password OK!").css({ color: "green" })
								$('#rePassword').css({ outlineColor: "green", borderColor:"rgba(255, 255, 255, 0)" })
							}
						})
					});
				</script>
				<div class="clearfix"> </div>
				<div class="register-but">
					<input type="submit" value="submit">
					<div class="clearfix"> </div>
			</form>
		</div>
	</div>
	</div>
	<!---->
	<%- include('footer') %>
</body>

</html>