<h1>Relate Product</h1>
<ul id="flexiselDemo1">
</ul>
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: "/category?category=<%=selected_category_id%>&&type=0",
            type: 'GET',
            success: function (res) {
                console.log("[get RelateProduct]:", res)
                if (res && res.product) {
                    res.product.forEach((v) => {
                        var img = v.image1
                        if (v.image1 == null || v.image1 == "null") {
                            img = v.image2
                            if (v.image2== null || v.image2 == "null") {
                                img = v.image3
                            }
                        }
                        $("#flexiselDemo1").append(
                            `
                            <li>
                                <a href="/single/${v.product_id}">
                                    <img src="/images/${img}" width="150px"/>
                                    <div class="grid-flex"><a href="/single/${v.product_id}">${v.product_name}</a>
                                        <p>${v.price}</p>
                                    </div>
                                </a>
                            </li>
                            `
                        )
                    })
                }
            },
            error: function (e) {
                console.log(e.message);
            }
        });
    });

    $(window).load(function () {
        $("#flexiselDemo1").flexisel({
            visibleItems: 5,
            animationSpeed: 1000,
            autoPlay: true,
            autoPlaySpeed: 3000,
            pauseOnHover: true,
            enableResponsiveBreakpoints: true,
            responsiveBreakpoints: {
                portrait: {
                    changePoint: 480,
                    visibleItems: 1
                },
                landscape: {
                    changePoint: 640,
                    visibleItems: 2
                },
                tablet: {
                    changePoint: 768,
                    visibleItems: 3
                }
            }
        });

    });
</script>
<script type="text/javascript" src="/js/jquery.flexisel.js"></script>
<!-- xuất hiện dãy sp -->