<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>NHOM_06 DAU GIA</title>
  <!-- chuy.. -->
  <link
    href="/css/bootstrap.css"
    rel="stylesheet"
    type="text/css"
    media="all" />
  <!--theme-style-->
  <!-- chuy.. -->
  <link
    href="/css/style.css"
    rel="stylesheet"
    type="text/css"
    media="all" />
  <!-- đặtpubliclà sai -->
  <link rel="stylesheet" href="/css/etalage.css" type="text/css"
    media="all" />
  <!--//theme-style-->
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1" />
  <script type="application/x-javascript">
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>
  <!--fonts-->
  <link
    href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800"
    rel="stylesheet"
    type="text/css" />
  <!--//fonts-->
  <!-- các js này làm ảnh mờ gần hơn -->
  <script src="/js/jquery.min.js"></script>

  <script src="/js/jquery.etalage.min.js"></script>
  <script>
    jQuery(document).ready(function ($) {
      $("#etalage").etalage({
        thumb_image_width: 300,
        thumb_image_height: 400,
        source_image_width: 900,
        source_image_height: 1200,
        show_hint: true,
        click_callback: function (image_anchor, instance_id) {
          alert(
            'Callback example:\nYou clicked on an image with the anchor: "' +
            image_anchor +
            '"\n(in Etalage instance: "' +
            instance_id +
            '")'
          );
        },
      });
    });
  </script>
</head>

<body>
  <%- include('header') %>

  <!-- address:"phú xuyên ha nội"
category_id:2
category_name:"cate2"
image1:"pic1.jpg"
image2:"pic2.jpg"
image3:"pic3.jpg"
information:"abcxyz"
is_ok:1
phone:"0869175144"
price:2132132
product_id:1
product_name:"sanpham1"
time_up:1589041949048
user_full_name:"đỗ quang hiếu 0869175144"
user_id:2
username:"admin" -->
  <div class="container">
    <div class=" single_top">
      <div class="single_grid">
        <div class="grid images_3_of_2">
          <ul id="etalage">
            <%const p = result%>
            <li>
              <a href="optionallink.html">
                <img class="etalage_thumb_image" src="/images/s4.jpg"
                  class="img-responsive" />
                <img class="etalage_source_image" src="/images/si4.jpg"
                  class="img-responsive" title="" />
              </a>
            </li>
            <li>
              <img class="etalage_thumb_image" src="/images/<%=p.image2%>"
                class="img-responsive" />
              <img class="etalage_source_image" src="/images/<%=p.image2%>"
                class="img-responsive" title="" />
            </li>
            <li>
              <img class="etalage_thumb_image" src="/images/<%=p.image1%>"
                class="img-responsive" />
              <img class="etalage_source_image" src="/images/<%=p.image1%>"
                class="img-responsive" />
            </li>
            <li>
              <img class="etalage_thumb_image" src="/images/<%=p.image3%>"
                class="img-responsive" />
              <img class="etalage_source_image" src="/images/<%=p.image3%>"
                class="img-responsive" />
            </li>
          </ul>
          <div class="clearfix"> </div>
        </div>
        <div class="desc1 span_3_of_2">
          <h2><%= p.product_name%></h2>
          <div class="cart-b">
            <div class="left-n "><%= p.price%> VND </div>
            <i>
              <span class="reducedfrom"><%=parseInt(p.price*1.1)%>
                VND</span>
            </i>
            <!-- <a class="now-get get-cart-in" href="#">ADD TO CART</a> -->
            <div class="clearfix"></div>
          </div>
          <div class="toogle">
            <h3 class="m_3">Product Details</h3>
            <p class="m_text"><%=p.information %>.</p>
          </div>
          <div class="share">
            <h5>Share Product :</h5>
            <ul class="share_nav">
              <li><a href="#"><img src="/images/facebook.png"
                    title="facebook"></a></li>
              <li><a href="#"><img src="/images/twitter.png"
                    title="Twiiter"></a></li>
              <li><a href="#"><img src="/images/rss.png" title="Rss"></a></li>
              <li><a href="#"><img src="/images/gpluse.png"
                    title="Google+"></a></li>
            </ul>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
      <ul id="flexiselDemo1">
        <li><img src="/images/pi.jpg" />
          <div class="grid-flex"><a href="#">Bloch</a>
            <p>Rs 850</p>
          </div>
        </li>
        <li><img src="/images/pi1.jpg" />
          <div class="grid-flex"><a href="#">Capzio</a>
            <p>Rs 850</p>
          </div>
        </li>
        <li><img src="/images/pi2.jpg" />
          <div class="grid-flex"><a href="#">Zumba</a>
            <p>Rs 850</p>
          </div>
        </li>
        <li><img src="/images/pi3.jpg" />
          <div class="grid-flex"><a href="#">Bloch</a>
            <p>Rs 850</p>
          </div>
        </li>
        <li><img src="/images/pi4.jpg" />
          <div class="grid-flex"><a href="#">Capzio</a>
            <p>Rs 850</p>
          </div>
        </li>
      </ul>
      <script type="text/javascript">
        $(window).load(function () {
          $("#flexiselDemo1").flexisel({
            visibleItems: 5,
            animationSpeed: 1000,
            autoPlay: true,
            autoPlaySpeed: 3000,
            pauseOnHover: true,
            enableResponsiveBreakpoints: true,
            responsiveBreakpoints: {
              portrait: {
                changePoint: 480,
                visibleItems: 1
              },
              landscape: {
                changePoint: 640,
                visibleItems: 2
              },
              tablet: {
                changePoint: 768,
                visibleItems: 3
              }
            }
          });

        });
      </script>
      <!-- xuất hiện dãy sp -->
      <script type="text/javascript" src="/js/jquery.flexisel.js"></script>
    </div>


    <%- include('category') %>
    <!-- ket thuc noi dung single -->

    <div class="clearfix"></div>
  </div>

  <!-- <%- include('category') %> -->
  <div class="clearfix"></div>
  </div>
  <!-- </div> -->

  <!---->
  <%- include('footer') %>
</body>

</html>