<div class="sub-cate">
    <div class=" top-nav rsidebar span_1_of_left">
        <!-- <a href="/aucution">
			<h3 class="cate">ĐẤU GIÁ</h3>
			<br>
        </a> -->
        <a href=<%="/users/"+search.user.user_id%>>
            <h3 class="cate">USER</h3>
        </a>
        <ul class="menu">
            <ul class="kid-menu ">
                <li class="item1">
                    <a href=<%="/users/"+search.user.user_id%>
                        <%if(type==1){%> style="color: red;" <%}%>
                        >Information</a>
                </li>
                <% if(user.user_id==search.user.user_id){%>
                        <li class="item4">
                        <a href=<%="/users/change/user"%>
                            <%if(type==4){%> style="color: red;" <%}%>
                            >Change Information</a>
                    </li>
                <%}%>
                            <li class="item2">
                            <a href=<%="/users/product/acept/"+search.user.user_id%>
                                <%if(type==2){%> style="color: red;" <%}%>
                        >Product</a>
                </li>
                <% if(user.user_id==search.user.user_id){%>
                                <li class="item3">
                                <a href=<%="/users/product/notacept/"+search.user.user_id%>
                                    <%if(type==3){%> style="color: red;" <%}%>
                                >Product Not Acept</a>
                        </li>
                    <li class="item5">
                        <a href="/users/insert/product" 
                        <%if(type==5){%>
                                    style="color: red;"
                        <%}%>
                        >Insert Product</a>
                    </li>
                <%}%>
                    <li class="item6">
                        <a href=<%="/users/aucution/"+search.user.user_id%>
                                    <%if(type==6){%> style="color: red;"
                                    <%}%>
                        >Aucution</a>
                    </li>

                <% if(user.user_id==search.user.user_id){%>
                    <li class="item7">
                        <a href=<%="/users/not/aucution"%>
                                    <%if(type==7){%> style="color: red;" <%}%>
                        >Aucution Not Accept</a>
                    </li>
                    <li class="item8">
                        <a href="/users/done/aucution" 
                        <%if(type==8){%> style="color: red;" <%}%>
                        >Done Aucution</a>
                    </li>
                    <li class="item9">
                        <a href="/users/insert/aucution" 
                        <%if(type==9){%> style="color: red;" <%}%>
                        >Insert Aucution</a>
                    </li>
                <%}%>
                                    </ul>

            </ul>
    </div>
    <!--initiate accordion-->
    <script type="text/javascript">
        $(function () {
            var menu_ul = $('.menu > li > ul'),
                menu_a = $('.menu > li > a');
            menu_ul.hide();
            menu_a.click(function (e) {
                e.preventDefault();
                if (!$(this).hasClass('active')) {
                    menu_a.removeClass('active');
                    menu_ul.filter(':visible').slideUp('normal');
                    $(this).addClass('active').next().stop(true, true).slideDown('normal');
                } else {
                    $(this).removeClass('active');
                    $(this).next().stop(true, true).slideUp('normal');
                }
            });

        });
    </script>
</div>