<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<head>
    <title>Insert Product</title>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!--theme-style-->
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script
        type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--fonts-->
    <!-- web fonts -->
    <link href='//fonts.googleapis.com/css?family=Glegoo:400,700' rel='stylesheet' type='text/css'>
    <link
        href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
        rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!--//fonts-->
    <script src="/js/jquery.min.js"></script>


</head>

<body>
    <!--header-->
    <%- include('../header') %>
    <!---->
    <div class="container">
        <div class=" single_top">
            <div class="single_grid">
                <form method="post" action="/users/insert/product" enctype="multipart/form-data">
                    <div class="  register-top-grid">
                        <h3><%= message%></h3>
                        <div class="mation">
                            <span><label for="product_name">Product Name*</label></span>
                            <input placeholder="product_name" id="product_name" name="product_name" type="text"
                                required="">
                            <span><label for="price">Price*</label></span>
                            <input placeholder="price" id="price" name="price" type="text" required="">
                            
                            <span><label for="category_id">category_id</label></span>   
                            <select name="category_id" id="category_id">
                                <option value="0">Choose...</option>
                                <%if(category){%>
                                <%category.forEach(c=>{%>
                                <option value=<%=c.category_id%>><%=c.category_name%></option>
                                <%})}%>
                            </select>
                            <div>Image1: <input type="file" name="image1" multiple="multiple" required /></div>
                            <div>Image2: <input type="file" name="image2" multiple="multiple" /></div>
                            <div>Image3: <input type="file" name="image3" multiple="multiple" /></div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="  register-bottom-grid">
                        <h3><label for="information">Information</label></h3>
                        <i id="myMessage"></i>
                        <input placeholder="information" id="information" name="information" type="text"/>
                    </div>
                    <script type="text/javascript">
                        $(document).ready(function () {
                        });
                    </script>
                    <div class="clearfix"> </div>
                    <div class="register-but">
                        <input type="submit" value="submit">
                        <div class="clearfix"> </div>
                    </div>
                </form>
            </div>
        </div>
        <%- include('left_user')%>
        <div class="clearfix"></div>
    </div>
    <!---->
    <%- include('../footer') %>
</body>

</html>