<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My Profile</title>
  <!-- chuy.. -->
  <link href="/css/bootstrap.css" rel="stylesheet" type="text/css"
    media="all" />
  <!--theme-style-->
  <!-- chuy.. -->
  <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
  <!-- đặtpubliclà sai -->
  <link rel="stylesheet" href="/css/etalage.css" type="text/css"
    media="all" />
  <!--//theme-style-->
  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1" />
  <script type="application/x-javascript">
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>
  <!--fonts-->
  <link
    href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800"
    rel="stylesheet" type="text/css" />
  <!--//fonts-->
  <!-- các js này làm ảnh mờ gần hơn -->
  <script src="/js/jquery.min.js"></script>

  <script src="/js/jquery.etalage.min.js"></script>
  <script>
    jQuery(document).ready(function ($) {
      $("#etalage").etalage({
        thumb_image_width: 300,
        thumb_image_height: 400,
        source_image_width: 900,
        source_image_height: 1200,
        show_hint: true,
        click_callback: function (image_anchor, instance_id) {
          alert(
            'Callback example:\nYou clicked on an image with the anchor: "' +
            image_anchor +
            '"\n(in Etalage instance: "' +
            instance_id +
            '")'
          );
        },
      });
    });
  </script>
</head>

<body>
  <%- include('../header') %>
  <div class="container">
    <div class=" single_top">
      <div class="single_grid">
        <div class="grid images_3_of_2">
          <ul id="etalage">
            <li>
              <a href="optionallink.html">
                <img class="etalage_thumb_image"
                  src="/images/<%= search.user.avatar%>"
                  class="img-responsive" />
                <img class="etalage_source_image"
                  src="/images/<%= search.user.avatar%>" class="img-responsive"
                  title="" />
              </a>
            </li>
          </ul>
          <div class="clearfix"> </div>
        </div>
        <div class="desc1 span_3_of_2">
          <h3><span
              class=" glyphicon glyphicon-user"></span><%= search.user.full_name%>
          </h3>
          <div class="toogle">
            <strong class="m_3"><span
                class="glyphicon glyphicon-earphone"></span>Phone:
              <%=search.user.phone%></strong>
          </div>
          <div class="toogle">
            <strong class="m_3">
              <span class="glyphicon glyphicon-envelope"></span>Address:
              <%=search.user.address%></strong>
          </div>
        </div>
        <div class="clearfix"> </div>
        <a href="/users/change/user"><button class="btn btn-primary">
            Change</button></a>
        <a href=<%="/users/product/acept/"+search.user.user_id%>><button class="btn btn-warning">My
            Product</button></a>
        <a href=<%="/users/aucution/"+search.user.user_id + "?is_ok=1"%>><button
            class="btn btn-success">My
            Aucution</button></a>
      </div>
      <script type="text/javascript">
        $(window).load(function () {

        });
      </script>
    </div>
    <!-- ket thuc noi dung single -->
    <%- include('left_user')%>
    <div class="clearfix"></div>
  </div>
  </div>
  <!-- </div> -->

  <!---->
  <%- include('../footer') %>
</body>

</html>