<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<head>
    <title>Change Information</title>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!--theme-style-->
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script
        type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--fonts-->
    <!-- web fonts -->
    <link href='//fonts.googleapis.com/css?family=Glegoo:400,700' rel='stylesheet' type='text/css'>
    <link
        href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
        rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!--//fonts-->
    <script src="/js/jquery.min.js"></script>


</head>

<body>
    <!--header-->
    <%- include('../header') %>
    <!---->
    <div class="container">
        <div class=" single_top">
            <div class="single_grid">
                <form method="post" action="/users/change/user" enctype="multipart/form-data">
                    <input type="hidden" name="user_id" value=<%=user.user_id%> />
                    <div class="  register-top-grid">
                        <h3><%= message%></h3>
                        <div class="mation">
                            <span><label for="full_name">Full Name*</label></span>
                            <input placeholder="full_name..." id="full_name" name="full_name" type="text" required="" value="<%=user.full_name%>"/>
                            <span><label for="phone">Phone*</label></span>
                            <input placeholder="phone..." id="phone" name="phone" type="text" phone="" value="<%=user.phone%>">
                            <span><label for="address">Address</label></span>
                            <input name="address" id="address" value="<%=user.address%>"/>

                            <div><label for="avatar">Avatar:</label> <input type="file" id="avatar" name="image1" multiple="multiple" /></div>
                        </div>
                        <div class="clearfix"> </div>

                        <div class="mation">
                            <span><label for="old_password">Old Password*</label></span>
                            <input placeholder="old_password..." id="old_password" name="oldPassword" type="password"
                                required>
                            <span><label for="password">New Password</label></span>
                            <input placeholder="new_password..." id="password" name="password" type="password" phone="">
                        </div>
                        <div class="register-but">
                            <input type="submit" value="submit">
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <%- include('left_user')%>
        <div class="clearfix"></div>
    </div>
    <!---->
    <%- include('../footer') %>
</body>

</html>