<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client</title>

    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <style>
        #video-container {
            position: relative;
            margin: auto;
            width: 640px;
        }

        video {
            background: #dee;
            display: none;
        }

        #localVideo {
            position: absolute;
            top: 0;
            right: 0;
            width: 120px;
            z-index: 10;
            background: #333;
        }

        #remoteVideo {
            width: 100%;
        }

        #action-buttons {
            margin: auto;
            text-align: center;
        }

        .hidden-first {
            display: none;
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="row">

            <div class="col-12">
                <div class="jumbotron">
                    <div class="container">
                        <h2>Video call Demo</h2>
                        <p>By <a
                                href="https://developer.stringee.com/">stringee.com</a>
                        </p>
                    </div>

                </div>

                <div id="video-container">
                    <video id="localVideo" autoplay muted></video>
                    <video id="remoteVideo" autoplay
                        style="height: 360px;"></video>
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col">
                <select class="form-control" id="client_type">
                    <option value="new">I am New</option>
                    <option value="vip">I am VIP</option>

                </select>
            </div>
        </div>

        <div class="row">
            <div class="col" id="action-buttons">
                <button id="callButton" class="btn btn-success">Call</button>
                <button id="answerCallButton"
                    class="btn btn-info hidden-first">Answer Call</button>
                <button id="rejectCallButton"
                    class="btn btn-warning hidden-first">Reject Call</button>
                <button id="endCallButton"
                    class="btn btn-danger hidden-first">End Call</button>
            </div>

        </div>
    </div>


    <script src="js/lib/jquery.js"></script>
    <script src="js/lib/socket.io-2.2.0.js"></script>
    <script src="js/StringeeSDK-1.5.10.js"></script>




    <script>
        var token = 'eyJjdHkiOiJzdHJpbmdlZS1hcGk7dj0xIiwidHlwIjoiSldUIiwiYWxnIjoiSFMyNTYifQ.eyJqdGkiOiJTSzUxT2pNc2M4UGoyNE1yc1lPWWhvcGsyM0h2ZHJEMGMtMTU5MTMzMzYyOSIsImlzcyI6IlNLNTFPak1zYzhQajI0TXJzWU9ZaG9wazIzSHZkckQwYyIsImV4cCI6MTU5MTMzNzIyOSwidXNlcklkIjoidmlwX2NsaWVudCIsImljY19hcGkiOnRydWV9.OKzex1Netf0GZ8okef9w_ljS5IOgCcZCTOhRiGD7nJ4';
        var callerId = 'my_client'; //from
        var calleeId = 'regular_client'; //to

        $(function () {
            $('#client_type').on('change', function () {
                console.log('calling as ' + $(this).val());
                if ($(this).val() === 'vip') {
                    callerId = 'vip_client';
                }
                else if ($(this).val() == 'new') {
                    calleeId = 'regular_client';
                }
            });

        });
    </script>


    <script src="js/code.js"></script>
</body>

</html>